section#welcome {
  height: 80vh;
  padding: 0;
  background-color: #c4c4c4;
  justify-content: center;
}
section#welcome div.background {
  width: 50%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 100% 50%;
  background-size: contain;
  background-image: url("../assets/bg.png");
  pointer-events: none;
}
section#welcome div.text {
  width: 50%;
  background-color: transparent;
  font-family: "NEXT ART", sans-serif;
  font-size: 2em;
  letter-spacing: auto;
  text-align: center;
}

section#about-me {
  gap: 50px;
}
section#about-me div.text {
  z-index: 1;
  width: 500px;
  font-size: 1.5em;
  font-weight: 100;
  text-align: justify;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
section#about-me div.avatar {
  position: relative;
  height: 400px;
  aspect-ratio: 1/1;
}
section#about-me div.avatar img {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 20%;
  border-radius: 50%;
  box-shadow: black 0 0 20px -10px;
}

section#services {
  font-size: 1.5em;
  text-align: center;
  flex-direction: column;
  gap: 50px;
}
section#services #services-container {
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}
section#services #services-container section.service {
  margin: 20px;
  padding: 30px;
  width: 400px;
  height: 500px;
  background-color: white;
  box-shadow: black 0 0 15px -10px;
  transition: transform 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
section#services #services-container section.service img {
  height: 150px;
  aspect-ratio: 1/1;
}
section#services #services-container section.service div.text h2 {
  font-size: 2em;
}
section#services #services-container section.service:hover {
  transform: translate(0, -20px);
}

section#examples {
  font-size: 1.5em;
  text-align: center;
  flex-direction: column;
  gap: 50px;
}
section#examples div#examples-container {
  position: relative;
  height: 3000px;
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
  gap: 10px;
}
section#examples div#examples-container img {
  margin-bottom: 10px;
  width: 33%;
  object-fit: cover;
  box-shadow: black 0 0 15px -10px;
  scale: 1;
  transition: scale 0.5s ease;
}
section#examples div#examples-container img:hover {
  scale: 1.05;
}
section#examples div#examples-container::before, section#examples div#examples-container::after {
  content: "";
  flex-basis: 100%;
  width: 0;
  order: 2;
}
section#examples img:nth-child(3n+1) {
  order: 1;
}
section#examples img:nth-child(3n+2) {
  order: 2;
}
section#examples img:nth-child(3n) {
  order: 3;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
main > section {
  position: relative;
  padding-left: 100px;
  padding-right: 100px;
  width: 100%;
  min-height: 80vh;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
main > section div.text {
  z-index: 1;
  line-height: 1.5;
}

/*# sourceMappingURL=main.css.map */
