section#examples
    font-size: 1.5em
    text-align: center
    flex-direction: column
    gap: 50px

    div#examples-container
        position: relative
        display: flex
        flex-direction: row
        justify-content: center
        align-items: start
        flex-wrap: wrap
        gap: 20px

        img
            width: 500px
            height: auto
            object-fit: cover

            box-shadow: black 0 0 15px -10px
            scale: 1
            transition: scale 0.5s

        img:hover
            scale: 1.05