@use "vars" as *
@use "header"
@use "main"
@use "footer"
html
    font-family: Montserrat, sans-serif
    font-size: 16px

*
    margin: 0
    border: none
    padding: 0

    box-sizing: border-box

button
    all: unset

a
    text-decoration: none
    color: inherit

body
    position: relative
    padding-top: 75px

    background-color: white

    display: flex
    flex-direction: column
    justify-content: center

    color: black