$dark-grey-color: #1b1b1b
$light-grey-color: #f1f1f1
$light-green-color: #3dda29
$light-blue-color: #508bf8
$dark-blue-color: #1f3a93
$light-yellow-color: #f7dc6f
$dark-red-color: #c0392b
$light-pink-color: #f8c8dc
$dark-orange-color: #d35400
$light-purple-color: #d7bde2
$teal-color: #1abc9c
$navy-blue-color: #34495e
$dark-brown-color: #5d4037
$olive-color: #808000
$sky-blue-color: #87ceeb
$beige-color: #f5f5dc
$lime-color: #00ff00
$maroon-color: #800000
$gold-color: #ffd700
$silver-color: #c0c0c0
$coral-color: #ff7f50
$light-indigo-color: #9d41df
$dark-indigo-color: #6b2d97
$turquoise-color: #40e0d0
$salmon-color: #fa8072

$hover-time: 0.2s