@font-face {
  font-family: "NEXT ART";
  src: url("../../fonts/NEXT ART_Bold.otf") format("opentype");
  font-weight: bold;
}
@font-face {
  font-family: "NEXT ART";
  src: url("../../fonts/NEXT ART_Light.otf") format("opentype");
  font-weight: 300;
}
@font-face {
  font-family: "NEXT ART";
  src: url("../../fonts/NEXT ART_SemiBold.otf") format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: "NEXT ART";
  src: url("../../fonts/NEXT ART_Heavy.otf") format("opentype");
  font-weight: 800;
}
@font-face {
  font-family: "NEXT ART";
  src: url("../../fonts/NEXT ART_Regular.otf") format("opentype");
  font-weight: normal;
}
@font-face {
  font-family: "Tupo Vyaz VF";
  src: url("../../fonts/Tupo-Vyaz/tupo-vyaz_vf.woff2") format("woff2"), url("./fonts/Tupo-Vyaz/tupo-vyaz_vf.woff") format("woff");
  font-weight: normal;
}
html {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
}

* {
  margin: 0;
  border: none;
  padding: 0;
  box-sizing: border-box;
}

button {
  all: unset;
}

h1, h2 {
  margin-top: 20px;
  font-family: "Tupo Vyaz VF", sans-serif;
  letter-spacing: 0.05em;
  font-size: 3em;
}
@media (min-width: 300px) and (max-width: 500px) {
  h1, h2 {
    font-size: 2em;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  position: relative;
  padding-top: 75px;
  min-width: 100vw;
  min-height: 100vh;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: black;
}

main {
  width: 100%;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.hidden {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1s ease, scale 0.5s !important;
}

*.visible {
  opacity: 1;
  transform: translateY(0);
}

::selection {
  background-color: #1b1b1b;
  color: white;
}

header {
  position: fixed;
  top: 0;
  padding: 10px;
  z-index: 100;
  width: 100%;
  height: 75px;
  background-color: white;
  transition: top 0.5s;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
header #logo {
  height: 100%;
  aspect-ratio: 1/1;
}
header #logo img {
  height: 100%;
  aspect-ratio: 1/1;
}
header nav {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
header nav a {
  position: relative;
  height: 100%;
  width: 120px;
  background-color: transparent;
  font-family: "Tupo Vyaz VF", sans-serif;
  font-size: 2em;
  text-align: center;
  transition: background-color 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 300px) and (max-width: 500px) {
  header nav a {
    padding: 5px;
    width: min-content;
    font-size: 1.5em;
  }
}
header nav a:hover {
  background-color: #f1f1f1;
}

header.rolled {
  top: -75px;
}

section#welcome {
  height: 80vh;
  padding-right: 0;
  padding-left: 20px;
  padding-bottom: 30px;
  background-color: #c4c4c4;
  justify-content: center;
}
@media (min-width: 300px) and (max-width: 800px) {
  section#welcome {
    flex-direction: column-reverse;
  }
}
section#welcome div.background {
  width: 50%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 100% 50%;
  background-size: contain;
  background-image: url("../../assets/bg.png");
  pointer-events: none;
}
@media (min-width: 300px) and (max-width: 800px) {
  section#welcome div.background {
    width: 100%;
  }
}
section#welcome div.text {
  width: 50%;
  background-color: transparent;
  font-family: "NEXT ART", sans-serif;
  font-size: 2em;
  letter-spacing: auto;
  text-align: center;
}
@media (min-width: 600px) and (max-width: 1024px) {
  section#welcome div.text {
    font-size: 1.5em;
  }
}
@media (min-width: 300px) and (max-width: 800px) {
  section#welcome div.text {
    font-size: 1.5em;
    width: 100%;
  }
}

section#about-me {
  gap: 50px;
}
@media (min-width: 300px) and (max-width: 768px) {
  section#about-me {
    flex-direction: column-reverse;
  }
}
section#about-me div.text {
  z-index: 1;
  width: 500px;
  font-size: 1.5em;
  font-weight: 100;
  text-align: justify;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (min-width: 300px) and (max-width: 425px) {
  section#about-me div.text {
    width: 100%;
  }
}
@media (min-width: 2000px) and (max-width: 2561px) {
  section#about-me div.text {
    width: 50%;
    font-size: 2em;
  }
}
@media (min-width: 300px) and (max-width: 500px) {
  section#about-me div.text {
    font-size: 1em;
  }
}
section#about-me div.avatar {
  position: relative;
  height: 400px;
  aspect-ratio: 1/1;
}
@media (min-width: 300px) and (max-width: 425px) {
  section#about-me div.avatar {
    height: 250px;
  }
}
@media (min-width: 2000px) and (max-width: 2561px) {
  section#about-me div.avatar {
    height: 500px;
  }
}
section#about-me div.avatar img {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 20%;
  border-radius: 50%;
  box-shadow: black 0 0 20px -10px;
}

section#services {
  font-size: 1.5em;
  text-align: center;
  flex-direction: column;
  gap: 50px;
}
section#services #services-container {
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}
section#services #services-container section.service {
  margin: 20px;
  padding: 30px;
  width: 400px;
  height: 500px;
  background-color: white;
  box-shadow: black 0 0 15px -10px;
  transition: transform 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
@media (min-width: 300px) and (max-width: 500px) {
  section#services #services-container section.service {
    width: 300px;
    height: min-content;
    font-size: 0.75em;
  }
}
section#services #services-container section.service img {
  height: 150px;
  aspect-ratio: 1/1;
}
@media (min-width: 300px) and (max-width: 500px) {
  section#services #services-container section.service img {
    height: 75px;
  }
}
section#services #services-container section.service div.text h2 {
  font-size: 2em;
}
section#services #services-container section.service:hover {
  transform: translate(0, -20px);
}

section#examples {
  font-size: 1.5em;
  text-align: center;
  flex-direction: column;
  gap: 50px;
}
section#examples div#examples-container {
  position: relative;
  height: 4000px;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
}
section#examples div#examples-container img {
  width: 32%;
  margin-bottom: 20px;
  object-fit: cover;
  box-shadow: black 0 0 15px -10px;
  scale: 1;
  transition: scale 0.5s ease;
}
@media (min-width: 300px) and (max-width: 500px) {
  section#examples div#examples-container img {
    width: 49%;
  }
}
section#examples div#examples-container img:hover {
  scale: 1.05;
}
@media (min-width: 1700px) and (max-width: 2000px) {
  section#examples div#examples-container {
    height: 3000px;
  }
}
@media (min-width: 1350px) and (max-width: 1700px) {
  section#examples div#examples-container {
    height: 2500px;
  }
}
@media (min-width: 1020px) and (max-width: 1350px) {
  section#examples div#examples-container {
    height: 2000px;
  }
}
@media (min-width: 600px) and (max-width: 1020px) {
  section#examples div#examples-container {
    height: 1500px;
  }
}
@media (min-width: 500px) and (max-width: 600px) {
  section#examples div#examples-container {
    height: 1200px;
  }
}
@media (min-width: 450px) and (max-width: 500px) {
  section#examples div#examples-container {
    height: 2000px;
  }
}
@media (min-width: 375px) and (max-width: 450px) {
  section#examples div#examples-container {
    height: 1500px;
  }
}
@media (min-width: 320px) and (max-width: 375px) {
  section#examples div#examples-container {
    height: 1400px;
  }
}
@media (min-width: 300px) and (max-width: 320px) {
  section#examples div#examples-container {
    height: 1200px;
  }
}
section#examples div#examples-container::before, section#examples div#examples-container::after {
  content: "";
  flex-basis: 100%;
  width: 0;
  order: 2;
}
@media (min-width: 300px) and (max-width: 500px) {
  section#examples img:nth-child(1n+1) {
    order: 1;
  }
  section#examples img:nth-child(2n+2) {
    order: 2;
  }
}
@media (min-width: 501px) and (max-width: 3000px) {
  section#examples img:nth-child(3n+1) {
    order: 1;
  }
  section#examples img:nth-child(3n+2) {
    order: 2;
  }
  section#examples img:nth-child(3n) {
    order: 3;
  }
}

footer {
  position: absolute;
  top: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 100px;
  padding-right: 100px;
  width: 100%;
  height: 150px;
  background-color: white;
  font-size: 2em;
  font-family: "Tupo Vyaz Vf", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
@media (min-width: 500px) and (max-width: 800px) {
  footer {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.5em;
    height: 100px;
  }
}
@media (min-width: 300px) and (max-width: 500px) {
  footer {
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1em;
    height: 75px;
  }
}

main {
  padding-top: 0;
}
main > section {
  margin-top: 50px;
  position: relative;
  padding-left: 100px;
  padding-right: 100px;
  width: 100%;
  min-height: 80vh;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
@media (min-width: 300px) and (max-width: 425px) {
  main > section {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 425px) and (max-width: 1440px) {
  main > section {
    padding-left: 30px;
    padding-right: 30px;
  }
}
main > section div.text {
  z-index: 1;
  line-height: 1.5;
}

/*# sourceMappingURL=index.css.map */
