section#welcome
    height: 80vh
    padding: 0

    background-color: #c4c4c4

    justify-content: center

    div.background
        width: 50%
        height: 100%

        background-repeat: no-repeat
        background-position: 100% 50%
        background-size: contain
        background-image: url("../../assets/bg.png")

        pointer-events: none
    div.text
        width: 50%

        background-color: transparent

        font-family: 'NEXT ART', sans-serif
        font-size: 2em
        letter-spacing: auto
        text-align: center